---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Makine Ekle" page="subscriptions">
  <main>
    <div>
      <h1 class="text-4xl font-bold text-primary">Makine Ekle</h1>
      <p class="text-lg text-muted-foreground">
        Makine ekleme sayfası
      </p>
    </div>
</Layout>