## Modules and libraries 
node_modules/
dist/

## Build files
pnpm-lock.json

## Environment
.env
.env.example

## Linter / Formatter
biome.json
.eslintrc.json

server/esbuild.js

## Client
client/
public/
astro.config.mjs